<%= stylesheet_link_tag "about", :media => "all" %>

<div class="main-container">
    
    <div class="page-title">
        <h2><strong>サークル紹介</strong></h2>
    </div>
    
    <div class="text">
        <br>
        <h3 class="h3">このサークルについて</h3>
        <p>
            このサークルは、 <br>
            2016年4月に<span style="color: #ff0000;">ポケモンについて語り合いたい</span>という目的で <br>
            創設されました。 <br>
            当サークルは、ポケモン対戦をしたい方はもちろん、ポケモンカードゲームをしたい方、 <br>
            ポケモン対戦やポケモンカードに興味はないけれど、ポケモン談義がしたい方も大歓迎です！ <br>
            是非一度、部会にお越しください！<br>
            <br>
            <br>
            また、当サークルは非公認サークルですが、<strong><span style="color: #ff0000;">2025年公認化予定</span></strong>です！
        </p>
        <h3 class="h3">部会について</h3>
        <p>
            ポケモン好きが集まって、ポケモンゲームの対戦をしたり、ポケモンカードで遊んだりしています！ <br>
            <strong>
                <span style="color: #3b82c4;">会費は部会1回参加あたり、100円です！</span>
                <span class="detail">（ただし、2025年に公認化した場合無料化予定）</span><br>
            </strong>
            また、他サークルと掛け持ちでの参加も大歓迎です！（実際に掛け持ちしている方もいます！）
    </div>
</div>