<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'contact', media: 'all' %>
  <title>サークル紹介</title>
</head>
<body>

<div class="main-container">
    <div class="page-title">
        <h2><strong>よくあるご質問</strong></h2>
    </div>

    <div class="text">
        <p>
            よくある質問を以下にまとめました！他に何かわからないことがあれば、<%= link_to 'お問い合わせ' , touka_contact_path , class: 'new-event' %>の項目よりご連絡してください。
        </p>
    </div>

    <div class="contact-box">
        <h4>Q. 対戦に詳しくないのですが、活動に参加してもよろしいですか？</h4>
    </div>
    <div class="text">
        <p>
            様々なポケモン好きの皆さんを大歓迎しています！対戦に詳しくなくても、対戦知識が全くなくても大丈夫です。大切なのは「ポケモンが好き」ということです！
        </p>
    </div>

    <div class="contact-box">
        <h4>Q. ポケモン以外のゲームやイベントにも参加できるとのことですが、これらの活動はどのように企画されていますか？メンバーのアイデアや提案も取り入れられていますか？</h4>
    </div>
    <div class="text">
        <p>
            活動はメンバーの提案やアイデアを取り入れつつ企画されています。例えば、ゲーム大会やイベントのアイデアはメンバー全体で話し合い、決定しています。
        </p>
    </div>

    <div class="contact-box">
        <h4>Q. 新入生歓迎会のイベント内容について教えてください。</h4>
    </div>
    <div class="text">
        <p>
            新入生歓迎会では、4月12日(金)にはポケモンSVゆびをふる大会、4月19日(金)には使用ポケモン指名大会を行います。詳細は<a href="https://toukanomori.hatenablog.com/about" target='_blank' rel='noreferrer noopener' class="new-event">こちら</a>をご覧ください。
        </p>
    </div>

    <div class="contact-box">
        <h4>Q. サークル紹介によると会費が2025年に無料化される予定とのことですが本当ですか？また、その理由について教えてください！</h4>
    </div>
    <div class="text">
        <p>
            はい。会費については2025年に無料化予定です。これはサークルが公認されることにより、大学内の施設を使うことができ、現在の会場である城南市民センターを借りる必要がなくなるためです。これによりメンバー全員がより気軽に参加できる環境を目指しています。
        </p>
    </div>
</div>
